In [10]:
# Dataset Reference:
# California Cooporative Oceanic Fisheries Investigations. (July, 2020).CalCOFI hydrographic database. Retrieved from https://calcofi.org/ccdata/database.html
# Get the data first.
!wget https://calcofi.org/downloads/database/CalCOFI_Database_194903-201911_csv_10Jul2020.zip

/bin/sh: 1: Syntax error: end of file unexpected (expecting "then")

In [3]:
# Unzip a zip containing two csv files.

!unzip CalCOFI_Database_194903-201911_csv_10Jul2020.zip

Archive:  CalCOFI_Database_194903-201911_csv_10Jul2020.zip
  inflating: 194903-201911_Bottle.csv
  inflating: 194903-201911_Cast.csv

In [12]:
# Import python packages for reading the CSV files.

import pandas as pd
import numpy as np

In [18]:
bottle_data = pd.read_csv('194903-201911_Bottle.csv', error_bad_lines=False, encoding = "ISO-8859-1")

/home/shotarobaba/miniconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (47,61) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [20]:
bottle_data.head()

,Cst_Cnt,Btl_Cnt,Sta_ID,Depth_ID,Depthm,T_degC,Salnty,O2ml_L,STheta,O2Sat,...,R_DYNHT,R_Nuts,R_Oxy_µmol/Kg,DIC1,DIC2,TA1,TA2,pH1,pH2,DIC Quality Comment
0,1,1,054.0 056.0,19-4903CR-HY-060-0930-05400560-0000A-3,0,10.50,33.440,NaN,25.649,NaN,...,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2,054.0 056.0,19-4903CR-HY-060-0930-05400560-0008A-3,8,10.46,33.440,NaN,25.656,NaN,...,0.01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,3,054.0 056.0,19-4903CR-HY-060-0930-05400560-0010A-7,10,10.46,33.437,NaN,25.654,NaN,...,0.02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,4,054.0 056.0,19-4903CR-HY-060-0930-05400560-0019A-3,19,10.45,33.420,NaN,25.643,NaN,...,0.04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,5,054.0 056.0,19-4903CR-HY-060-0930-05400560-0020A-7,20,10.45,33.421,NaN,25.643,NaN,...,0.04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN